@use '../../../../shared/styles/index' as *;

.modal {
  p {
    text-align: start;
  }

  .buttonOkWrapper {
    width: 100%;

    .buttonOk {
      @include flex-block;

      position: fixed;
      right: 24px;
      bottom: 36px;
      width: 96px;
    }
  }
}
