@use '../../../../../shared/styles/index' as *;

.card {
  width: 100%;
  max-width: 378px;
  padding: 1.44rem 1.5rem 1.5rem;

  .content {
    @include flex-block;

    width: 100%;

    .title {
      margin-bottom: 13px;
      color: $color-light-100;
    }

    @mixin wh($w, $h) {
      width: $w;
      height: $h;
    }

    .form {
      position: relative;
      width: 330px;

      .password {
        @include wh(330px, 36px);

        margin-top: 20px;
        margin-bottom: 24px;
      }

      .text {
        @include flex-block(flex, row, flex-start);

        margin-top: 10px;
        color: $color-light-900;
        margin-bottom: 41px;
      }

      .field {
        margin-bottom: 24px;
        text-align: left;
      }

      .lastField {
        margin-bottom: 7px;
      }

      .fieldWithError {
        margin-bottom: 0 !important;
      }

      .btn {
        margin-top: 50px;
      }
    }
  }
}
