@use '../../../../../shared/styles/index' as *;

.card {
  width: 100%;
  max-width: 378px;
  padding: 1.44rem 1.5rem 1.5rem;

  .content {
    @include flex-block;

    width: 100%;

    .title {
      //margin-bottom: 13px;
    }

    .email {
      width: 330px;
      margin-top: 37px;

      input {
        padding-left: 11px;
      }
    }

    .enterEmail {
      padding-top: 7px;
      color: $color-light-900;
      text-align: start;
      letter-spacing: 0.3px;
    }

    .emailError {
      padding-top: 8px;
    }

    .back {
      @include flex-block;

      width: 330px;
      margin-bottom: 24px;

      p {
        color: $color-accent-500;
      }
    }

    .answer {
      text-align: start;
    }

    .form {
      @include flex-block($justify-content: flex-start);
    }
  }
}

.primary {
  .submit {
    @include flex-block;

    width: 330px;
    margin-top: 17px;
  }

  .back {
    margin: 24px 0 16px;
  }

  .recaptcha {
    height: 84px;
    border: 1px solid $color-dark-300;
  }

  .answer,
  .repeat {
    display: none;
  }
}

.secondary {
  .answer {
    display: block;
    padding: 8px 23px;
  }

  .repeat {
    @include flex-block;

    width: 330px;
    margin-top: 10px;
  }

  .back {
    margin: 24px 0 0;
    color: $color-accent-500;
  }

  .submit,
  .recaptcha {
    display: none;
  }
}
