@use '../../../../../shared/styles/index' as *;

.container {
  @include flex-block;

  .textContainer {
    @include flex-block;

    max-width: 294px;
    margin-bottom: 72px;

    .title {
      margin-bottom: 19px;
    }

    .text {
      margin-bottom: 30px;
      text-align: center;
    }

    .form {
      position: relative;
      width: 229px;

      .email {
        margin-bottom: 24px;
      }

      .button {
        display: flex;
        justify-content: center;
      }
    }
  }
}
